@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background: linear-gradient(to bottom, #415A77, #0D1B2A);
    }
    section#login{
        width: 90vw;
    }
    article#imagem{
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
        background-image: url('../imagens/pexels-pixabay-414584.jpg');
    }
    article#formulario{
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px){
        body{
        background: linear-gradient(to bottom, #415A77, #0D1B2A);
    }
    section#login{
        width: 950px;
    }
    article#imagem{
        float: left;
        width: 50%;
        height: 100%;
        background-position: center center;
    }

    article#formulario{
        float: right;
        width: 50%;
    }


}